



<div class="container mt-5">
      <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card p-3">
                <div class="form-group">
                    <label for="todoItem">Cars Item</label>
                    <input type="text" #carItem class="form-control">
                </div>
                <button
                 *ngIf="!isinEditMode"
                 (click)="oncarAdd()" mat-raised-button color="primary" class="btn-block">Add</button>
                <button 
                (click)="OnUpdate()"
                *ngIf="isinEditMode"
                  mat-raised-button color="primary" class="btn-block">Update</button>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-group" *ngIf="carsArr.length > 0; else nocars">
                <li *ngFor="let car of carsArr; trackBy : trackById"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>{{car.carname}}</strong>
                    <div>
                        <button
                         (click)="onEdit(car)"
                        mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                            class="mr-2">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                         (click)="onRemove(car.id)"
                        mat-mini-fab color="warn"
                            aria-label="Example icon button with a menu icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
            <ng-template #nocars>
             <p class="alert alert-primary">NO CARS !!!</p>
            </ng-template>
        </div>
    </div>
</div>
