<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card p-3">
                <div class="form-group">
                    <label for="laptopItem">laptop Item</label>
                    <input type="text" #laptopItem class="form-control">
                </div>
                <button *ngIf="!isonEditmode" (click)="onlaptopAdd()" mat-raised-button color="primary"
                    class="btn-block">Add</button>
                <button *ngIf="isonEditmode" (click)="onUpdateLaptop()" mat-raised-button color="primary"
                    class="btn-block">Update</button>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-group" *ngIf="laptopArr.length > 0; else nolaptop">
                <li *ngFor="let l of laptopArr; trackBy : trackById"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>{{l.lname}}</strong>
                    <div>
                        <button (click)="onEditLaptop(l)" mat-mini-fab color="primary"
                            aria-label="Example icon button with a menu icon" class="mr-2">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="onRemove(l.id)" mat-mini-fab color="warn"
                            aria-label="Example icon button with a menu icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
            <ng-template #nolaptop>
                <p class="alert alert-primary">NO LAPTOP !!!</p>
            </ng-template>
        </div>
    </div>
</div>